h1,
ul, * {
    font-family:Helvetica,Lucida Console, sans-serif;
    text-align: center;
    text-decoration: none;
}

h1 {
    color: rgb(161, 83, 200);
    font-size: 50px;
    background-color:rgb(34, 29, 37);
    border-radius: 10px;
    padding: 10px;
    margin: 40px 90px 55px 90px;
}

li,
a {
    list-style-type: none;
    margin-left: auto;
    margin-right: 15px;
    padding-top: 10px;
    color: rgb(252, 73, 163);
}

body {
    background: rgb(21, 20, 20);
}

li {
    background-color:rgb(250, 209, 237);
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: 10px 90px 15px 90px;
    text-align: center;
    font-size: 20px; 
    font-weight: 555;
}

img {
    width: 28%;
    height: 28%;
    border-radius: 75px;
    margin: 40px 50px 0 50px;
}

/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 2s;
	animation: flash 2s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}