h1,
ul, * {
    font-family:Helvetica,Lucida Console, sans-serif;
    text-align: center;
    text-decoration: none;
}

h1 {
    color: darkorchid;
}

li,
a {
    list-style-type: none;
    margin-left: auto;
    margin-right: 15px;
    padding-top: 10px;
    color: hotpink;
}

body {
    background: rgb(21, 20, 20);
}

