h1,
ul, body {
    font-family:Helvetica,Lucida Console, sans-serif;
    text-align: center;
    text-decoration: none;
}

h1 {
    color: darkorchid;
}

li,
a{
    list-style-type: none;
    margin-left: auto;
    margin-right: 15px;
    padding-top: 10px;
    color: hotpink;
}

body {
    background: rgb(21, 20, 20);
    color: rgb(108, 48, 178);
}

p.WARNING {
    color:rgb(255, 8, 78);
}

p.tip {
    color:hotpink;
    text-align: center;
}

a {
    color:rgb(47, 255, 158);
}